extends ../../../app/pug/_iframes
prepend config
    -var linkActive = 'Bibliografía'
block main
    +title(null, linkActive, 'bibliografia_1', false)

  
    -var prevPage = ""
    -var nextPage = ""